<h3 class="about">How to Use</h3>
  <p>Reading sucks especially when you are ripping through some code and get stuck on something, and just really wish someone could take a minute to show you what you're missing instead of getting lost in documentation.</p>
  <p>Enter Code Clips. The idea is to quickly post questions and answers using screencasts, instead of writing.</p>
  <h3>Not sure how to make a screencast?</h3>
  <p>Don't worry, even my mom can do it, and she literally can't text</p>
      <ul>
        <li>Step 1: Open QuickTime</li>
        <li>Step 2: Click 'File'</li>
        <li>Step 3: Scroll down to 'New Screen Recording'</li>
        <li>Step 4: Hit Record. That's. It.</li>
      </ul>

<h3 class="about">About</h3>

<p>It wasn't until all four of them finished their presidencies and retired from being astronauts that they decided to make this site. With the recent rise of Sharknado's, it was a logical next step to build the greatest web development tool on the planet.</p></br>

<div class="pics">
  <a href="http://www.linkedin.com/pub/alexander-altair/10/855/359">
    <div class="group alex"></div>
  </a>

  <a href="http://www.linkedin.com/pub/dave-ferris/5/9a8/bb8">
    <div class="group dave"></div>
  </a>

  <a href="http://www.linkedin.com/in/xiaogwu">
    <div class="group xiao"></div>
  </a>

  <a href="http://www.linkedin.com/in/rawaters">
    <div class="group ryan"></div>
  </a>
</div>