<%# flash.each do |name, msg| %>
    <%#= content_tag :div, msg, :id => "flash_#{name}" %>
 <%# end %>
<div class='index'>
  <ul>
    <% @questions.each do |question| %>
      <li class='question_list'><a href='/questions/<%= question.id %>'><%= question.title %></a></li>
    <% end %>
  </ul>
</div>
  <%= link_to "Ask a question", new_question_path %>