/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  margin: 0;
  background-color: #C4C4C4;
  font-family: 'Oswald', sans-serif;
}
header{
  background-color: #C4C4C4;
  color: white;
}

h1{
  margin: 0;
}

#container{

  width: 95%;
  margin: 0 auto;
}

.content{
  background-color: #C4C4C4;
  width: 60%;
  float: left;
  position: relative;
}

.ads{
  background-color: #7D7D7D;
  width: 38%;
  height: 300px;
  float: right;
}



.question h2{
  border-bottom: solid black 2px;
  margin-bottom: 0;
}

.question{
  word-wrap: break-word;
}

.vote{
  width: 60px;
  height: 100px;
  background-color: black;
  float: left;
  margin: 20px 20px;
}

.question{
  overflow: hidden;
}

.question p{
  float: left;
  width: 400px;

}

ul.answers{
  clear: both;
  list-style-type: none;
  padding: 0;
}

ul.answers li{
  padding: 9px 0;
  border-top: solid black 2px;
}

p.caption{
  margin-left: 100px;
}

.user_box{
  background-color: #00FFFF;
  height: 60px;
  width: 140px;
  position: absolute;
  right: 0;
  margin-top: 20px;
  font-size: 12px;
}

.avatar{
  height: 40px;
  width: 40px;
  border: solid black 1px;
  margin: 10px;
}



